* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

footer,
header,
nav {
    background-color: #1F2937;
}

nav {
    padding: 15px;
}

.header-text{
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px 200px;
    align-items: center;
}

.header-left {
    width: 50%;
}

.header-right {
    width: 50%;
    text-align: center;
}

.header-image {
    height: 300px;
    width: 300px;
}

.header-left h3 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
}

.box {
    width: 200px;
    height: 200px;
    border: solid 4px #3882F6;
    border-radius: 20px;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
}

h4 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.box1,
.box2,
.box3,
.box4 {
    width: 200px;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.section2 {
    background-color: #E5E7EB;
    padding: 50px 200px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.section3 {
    padding: 50px 200px;
}

nav ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    gap: 20px;
    margin-left: auto;
    padding-right: 20px;
}

nav {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.cta-button-header {
    background-color: #3882F6;
    color: #FFF;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-box p {
    color: #F9FAF8;
}

.cta-title {
    font-weight: bold;
}

.cta-text {
    font-size: 14px;
}

.cta-box-left {
    width: 50%;
}

.cta-box-right {
    width: 50%;
    text-align: right;
}

.cta-button-footer {
    background-color: #3882F6;
    color: #FFF;
    padding: 10px 30px;
    border-radius: 10px;
    border: solid 1px #FFF;
}

footer p {
    margin-bottom: 0;
}

.footer-text {
    color: #FFF;
    padding: 15px;
    text-align: center;
}